.categories {
  max-width: 700px;
  margin: 3rem 10rem;
}
.categories form {
  width: 290px;
  margin-bottom: 20px;
}
.categories label,
#cat_label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.categories input,
button {
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}
.categories input {
  width: 13rem;
  background-color: #eee;
}
.categories button {
  width: 70px;
  background: #555;
  color: white;
  margin-left: 10px;
  border-radius: 0.25rem;
}
.categories .row {
  max-width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  border: 1px solid crimson;
  background-color: #555;
  border-radius: 0.5rem;
}

#editBtn {
  background-color: teal;
}

#dltBtn {
  background-color: #c82333;
}
